/*Estilos para el componente detalles del producto*/


.product-details{
    /* position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 120px;
    left: 0px;
    width: 100%;
    height: auto;
    margin-bottom: 200px;
    padding: 20px;
    z-index: -1; */
    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    
    .title-product-details{
        position: relative;
        top: 100px;
        left: 0px;
        text-align: left;
        font-size: 1.8rem;
        width: 100%;
        margin: 0px 0px 40px;
        padding: 0px 80px;
        cursor: default;
        color: rgb(22, 21, 21);
        z-index: -1;
    }
    
    .container-img-info-buttons{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-width: 300px;
        height: fit-content;
        gap: 30px;
        padding: 50px;
        margin: 25px; /*REVISAR*/
        

        .img-product-details{
           margin-top: 50px;
          
            img{
                width: 400px;
            }
                
        }
        

        .container-info-buttons{
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 500px;
            height: fit-content;
            padding: 20px;
            gap: 40px;
            border: 1px solid gray;
            border-radius: 0.5rem;

            .info-product-details{
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 20px;
                font-size: 18px;

                h2{
                    width: 100%;
                    text-align: center;
                }

                p{
                    text-align: justify;
                }
                
                ul{
                    background-color: #f9f9f9; 
                    width: 300px;
                    border-radius: 0.5rem; 
                    padding: 10px;
                    z-index: -1;

                    li{
                        position: relative;
                        list-style-type: circle;
                        list-style-position: inside;
                        text-align: justify;
                    }
                }

            }

            .buttons-product-details{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
                width: 100%;
                height: fit-content;
                gap: 30px;
                margin-bottom: 50px;
                font-size: 18px;

                .button-addCart{
                    
                    width: 120px;
                    height: 40px;
                    border-radius: 2rem;
                    border: 2px solid #755086;
                    background-color: #beabc2;
                    cursor: pointer;
                    gap: 50px;
                }

                .button-addCart:hover{ 
                    background-color: #755086;
                    border-color: 2px solid  #1b0725;
                    color: white;
                }

                .button-disable{
                    border: 1px solid rgb(61, 59, 59);
                    border-radius: 1rem;
                    color: rgb(122, 114, 114);
                    width: 250px;
                    height: 50px;
                }

                .back-home-from-details{
                    width: 100px;
                    text-align: center;
                }

                .back-home-from-details:hover{
                   color: #755086;
                   font-weight: bolder;
                }

                
            }
        }
    
    }
}





  