/*Estilos para el formulario login y logout*/

/* Contenedor general que ocupa todo el alto y ancho de la pantalla */
.general-container-login-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
  
  
  /* Contenedor común para el login y el logout */
    .container-login{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        padding: 20px;
        border-radius: 1em;
        background-color: #ffffff;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        
        /* Título */
        h1{
            margin-bottom: 30px;
            color: #333;
        }

        /* Formulario login*/
        .form-login {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            div{

                label {
                    font-size: 14px;
                    margin-bottom: 5px;
                    color: #250f30;
                }
            
                input {
                    padding: 12px;
                    font-size: 16px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    margin-bottom: 15px;
                    width: 100%;
                    box-sizing: border-box;
            
                    &::placeholder {
                    color: #999;
                    }
        
                }
        
                p {
                    color: red;
                    font-size: 12px;
                    text-align: justify;
                    width: 100%;
                    word-wrap: break-word;
                    margin-top: -10px;
                }

            }

             /* Botón*/
            .login-button {
                padding: 12px;
                background-color: #efe5f3;
                color: #250f30;
                border: 1px solid #755086;
                border-radius: 4px;
                font-size: 16px;
                cursor: pointer;
                transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
                margin-top: 20px;
        
                &:hover {
                background-color: #755086;
                color: white;
                font-weight: bold;
                }
            }
        }
    }
    /* Estilos para el contenedor de logout */
    .container-logout {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 300px;
        max-width: 400px;
        padding: 20px;
        border-radius: 1em;
        background-color: #ffffff;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        text-align: center;

        h1 {
            font-size: 30px;
            margin-bottom: 50px;
            color:#1b0725;
            cursor: default;
        }
  
        .logout-button {
            border: 2px solid #755086;
            color:#1b0725;
            background-color: #dabfe4;
            width: 160px;
            height: 45px;
            border-radius: 0.5em;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
            margin-bottom: 5px;
            
            &:hover {
                background-color:#976caa;
                color:  #f3e9f7;
                font-weight: bolder;
            }
        }
  
        .home-link {
            margin-top: 15px;
            font-size: 16px;
            color: #250f30;
    
            &:hover {
            text-decoration: underline;
            }
        }
    }
} 

  /* Responsividad */

/*Dispositivos de pantalla hasta 389px*/
@media (max-width: 389px) {
    
    .general-container-login-logout {
        padding: 10px;
    }
    
    .container-login,
    .container-logout {
       margin-left: 50px;
       min-width: 376px;

    }

}

/*Dispositivos de pantalla 360px*/
@media (width: 360px) {
    
    
    .container-login,
    .container-logout {
       margin-left: 70px;

    }

}

/*Dispositivos de pantalla 390px*/
@media (width: 390px) {
    
    .container-login,
    .container-logout {
       margin-left: 40px;

    }
}

